  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container text-center">
      <img src="/images/ci/ci1.png" width="380px" class="mr-4"/>
      <img src="/images/ci/ci2.png" width="240px"/>

      <div class="pt-3">© 2021. Korea Bioinformation Center (KOBIC). all rights reserved.</div>
    </div>   
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

</body>
</html>