<%- include('../common/header') %>

<div class="menu-title">
	<h2>인사말</h2>
</div>
<main>
    <section>
        <div class="container">
            서비스 준비중입니다.    
    
        </div> 
    </section>    
</main>

<%- include('../common/footer') %>